
@media (max-width: 820px) {
  .values {
    width: 85%;
  }

  .form-inner {
    justify-content: center;
    flex-direction: column;
  }

  .form-inner input,
  .form-inner button {
    width: 100%;
  }
  .form-inner button {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 100px;
  }
  .logo img {
    width: 100%;
  }

  .header-link {
    width: 50%;
  }

  .header-single-link {
    font-size: 15px;
  }

  .header-single-link:not(:last-child) {
    margin-right: 10px;
  }

  .hero .hero-img {
    width: 100%;
  }

  #hero-desc span,
  #hero-copy span {
    display: inline;
  }

  .values {
    grid-template-columns: repeat(1, 1fr);
  }

  .values-single:not(:last-child) {
    margin-bottom: 70px;
  }

  .values-single:nth-child(3),
  .values-single:nth-child(4) {
    margin-top: 0px;
  }

  .banner {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
  }

  .banner .banner-img {
    width: 100%;
  }

  .banner .banner-text {
    width: 100%;
  }

  .banner-text #banner-heading {
    font-size: 25px;
    margin-top: 30px;
  }

  #banner-heading span {
    display: inline;
  }

  .review-quote {
    left: 60px;
  }

  .review-container {
    width: 80%;
  }

  .form {
    width: 85%;
  }

  .form-container {
    padding: 40px 35px;
  }

  .footer-cols {
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer-col:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 70px;
  }

  .footer-col.f1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-col.f1 .f1-img {
    margin-right: 30px;
  }

  .footer-contact .f2-img {
    margin-right: 30px;
  }

  .f5 {
    align-self: center;
  }
}
/*  done by Lehre (SH-IT-0041216) */
